<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<svg class="mainIcon Iconflex-shrink-0 fill-current" xmlns="http://www.w3.org/2000/svg"
				fill="currentColor" viewBox="0 0 512 512"
				style="--darkreader-inline-fill: currentColor;" data-darkreader-inline-fill="">
				<title>Cube</title>
				<path
					d="M440.9 136.3a4 4 0 000-6.91L288.16 40.65a64.14 64.14 0 00-64.33 0L71.12 129.39a4 4 0 000 6.91L254 243.88a4 4 0 004.06 0zM54 163.51a4 4 0 00-6 3.49v173.89a48 48 0 0023.84 41.39L234 479.51a4 4 0 006-3.46V274.3a4 4 0 00-2-3.46zM272 275v201a4 4 0 006 3.46l162.15-97.23A48 48 0 00464 340.89V167a4 4 0 00-6-3.45l-184 108a4 4 0 00-2 3.45z">
				</path>
			</svg>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
			data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-start p-3 p-lg-0" style="width: 230px;"
			id="navbarTogglerDemo02">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-lg-center">
				<li class="nav-item mb-3 mb-lg-0 mx-4 mx-lg-0">
					<a class="nav-link" href="/productos">Productos</a>
				</li>
				<li class="nav-item mb-3 mb-lg-0 mx-4 mx-lg-0">
					<a class="nav-link active" aria-current="page"
						href="/carrito">Carrito</a>
				</li>
				<li class="nav-item mb-3 mb-lg-0 mx-4 mx-lg-0">
					<a class="nav-link active" aria-current="page" href="/chat">Chat</a>
				</li>
				<li class="nav-item mb-3 mb-lg-0 mx-4 mx-lg-0">
					<a class="nav-link" href="/logout">
						<button type="button" class="btn btn-danger">Logout</button>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>